.container{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: bisque;
}
.header{
    position: relative;
    width: 80%;
    height: 50px;
    left: 50px;
    box-shadow: 10px 5px 25px red inset;
}
.art{
    background-color: blanchedalmond;
    position: absolute;
    width: 200px;
    left: 150px;
    top: 110px;
    height: 300px;
    box-shadow: 20px 25px 30px red;
}

/*
box shadow 
offset x , offy, blur-radius,spread-radious,color,insert

text shadow
offx,offy,blur-radius,color
*/